<form>
    <fieldset>
        <legend>Change the name of this operation:</legend>
        <textarea ng-model="pluginData.customName" ng-blur="propertyEditorCtrl.SaveChanges()"></textarea>
    </fieldset>
    <fieldset>
        <legend>Change the description of this operation:</legend>
        <textarea ng-model="pluginData.customDescription" ng-blur="propertyEditorCtrl.SaveChanges()"></textarea>
    </fieldset>
    <fieldset>
        <legend>Change the image for this operation:</legend>
        <label for="file">Select Image</label>
        <input type="file" accept="image/*" ng-model="propertyEditorCtrl.image" name="file" base-sixty-four-input>
        <button class="tiny" ng-click="propertyEditorCtrl.uploadImage()" ng-disabled="!propertyEditorCtrl.image">Upload</button>
        <br>
        Image Preview: <br>
        <img ng-src="data:{{propertyEditorCtrl.image.filetype}};base64,{{propertyEditorCtrl.image.file}}" alt="">
    </fieldset>
</form>
