<img ng-if="pluginData.customImage.url || operation.imageUrl" ng-src='{{pluginData.customImage.url|| operation.imageUrl}}'>
<div>{{pluginData.customDescription|| operation.description}}</div>
<a ng-if="operation.more_info_url.length > 0" ng-href="{{operation.more_info_url}}" target="_BLANK">More info</a>
