<form>
    <fieldset>
        <legend>Input</legend>
        <div ng-repeat="port in operation.inputPorts">
            Port: "{{::port.name}}"
        </div>
    </fieldset>
    <fieldset>
        <legend>Output</legend>
        <div ng-repeat="port in pluginData.outputPorts">
            <label>What is sample "{{::port.name}}"?</label>
            <input type="text" ng-model="port.description" ng-blur="propertyEditorCtrl.SaveChanges()">
        </div>
    </fieldset>
</form>
