<accordion close-others="true">
    <accordion-group is-open="{{$first}}" ng-repeat="group in pluginForms">
        <accordion-heading>
            <i ng-class="{'fa fa-chevron-down': $parent.isOpen, 'fa fa-chevron-right': !$parent.isOpen}"></i> {{group.title}}
        </accordion-heading>
        <ng-include src="group.templateUrl" ng-if="group.templateUrl"></ng-include>
    </accordion-group>
</accordion>

<!-- override default angular-foundation template to enable CSS3 animations on open/close-->
<script type="text/ng-template" id="template/accordion/accordion-group.html">
    <dd ng-class="{ active: isOpen }"  >
    <a ng-click="isOpen = !isOpen" accordion-transclude="heading">{{::heading}}</a>
    <div class="content" ng-transclude></div>
    </dd>
</script>
