
<form>
    <fieldset>
        <legend>Enter your results:</legend>
        <textarea ng-model="pluginData.result" ng-blur="propertyEditorCtrl.SaveChanges()"></textarea>
    </fieldset>
    <fieldset>
        <legend>Attached files:</legend>
        <div ng-repeat="attachment in pluginData.resultUploads">
            <a class="button tiny" ng-click="propertyEditorCtrl.downloadFileByFid(attachment.fid)" title="View/Download">
                <span class="fa fa-download fa-lg"></span>
             </a>  
            <a class="button tiny alert"  ng-click="propertyEditorCtrl.deleteResultsFile(attachment)" title="Delete (fid={{attachment.fid}})">
                <span class="fa fa-trash fa-lg" ></span>
            </a> 
             {{attachment.title}} 
        </div>
    </fieldset>
    <fieldset>
        <legend>Attach file:</legend>
        <label for="resultsfile">Select File:</label>
        <input type="file" ng-model="propertyEditorCtrl.resultsfile" name="resultsfile" base-sixty-four-input>
        <label for="resultsfileTitle">Description:</label>
        <input type="text" ng-model="propertyEditorCtrl.resultsfileTitle" name="resultsfileTitle">
        <button class="tiny" ng-click="propertyEditorCtrl.uploadResultsFile()" ng-disabled="!propertyEditorCtrl.resultsfile">Upload</button>
    </fieldset>
</form>
