Assigned to:
<div ng-repeat="member in pluginData.groupMembers">
    <input type="checkbox" ng-model="member.selected" ng-click="propertyEditorCtrl.SaveChanges()"> {{member.name}}
</div>
<div id="operation_status" ng-show="propertyEditorCtrl.isEnabled_ChangeStatus()">
    Status of operation:
    <select ng-model="pluginData.status" ng-change="propertyEditorCtrl.SaveChanges()">
        <option value="0">None</option>
        <option value="1">In progress</option>
        <option value="2">Finished</option>
    </select>
</div>