<!-- angular-foundation version of template -->
<div id="workflow-layout" ng-show="experdCtrl.isExperdSelected()" ng-init="debugMode = true">
  <div ui-layout options="{ flow : 'row', dividerSize: '2px' }">
    <div ui-layout-container size="{{experdCtrl.sizes.operationsToolbar}}" min-size="{{experdCtrl.sizes.operationsToolbar}}" class="tabscontainer">
      <tabset>
        <tab heading="{{::category}}"  ng-repeat="(category, operations) in experdCtrl.operationTabs()" active="$first">
          <div id="{{::operation.nid}}" class="kw_figure experdOperation" kw-draggable ng-repeat="operation in operations">
            <div class="kw_figure_name kw_color{{::operation.category}}">{{::operation.name}}</div>
            <div ng-if="operation.imageUrl != false" class="kw_figure_image experdOperationFigure">
              <img ng-src="{{::operation.imageUrl}}">
            </div>
            <button ng-click="addFigure(operation.nid)">Add</button>
          </div>
        </tab>
      </tabset>
    </div>
    <div ui-layout-container>
      <div ui-layout="{flow: 'column', dividerSize: '2px'}">
        <div ui-layout-container>
          <div id="mainWorkflowContainer">
            <kryt-workflow class="kryt_workflow"
                           id="XDWorkflow"
                           kw-droppable
                           is-locked="experdCtrl.isLocked()"
                           figure-definitions="experdCtrl.getAllOperations()"
                           ></kryt-workflow>
          </div>
        </div>
        <div id="operationProperties" ui-layout-container size="{{experdCtrl.sizes.propertiesEditor}}">
          <top-bar>
            <ul class="title-area">
              <li class="name">
                <h1><a>Operation properties</a></h1>
              </li>
            </ul>
            <top-bar-section>

              <ul class="right">
                <li ng-show="experdCtrl.isOperationSelected()">
                  <a class="button tiny" href="" title="Delete selected operation" ng-click="experdCtrl.deleteSelectedOperation()">
                    <span class="fa fa-trash fa-lg"></span>
                  </a>
                </li>
              </ul>
            </top-bar-section>
          </top-bar>
          <span id="pluginarea"></span>
        </div>

      </div>

    </div>
  </div>
</div>
<top-bar>
  <ul class="title-area">
    <li class="name">
      <h1><a>ExperD <span ng-show="experdCtrl.isExperdSelected()">: {{experdCtrl.getExperdTitle()}}</span></a></h1>
    </li>
    <li toggle-top-bar class="menu-icon"><a href="">Menu</a></li>
  </ul>

  <top-bar-section>
    <!-- Right Nav Section -->
    <ul class="right" ng-show="experdCtrl.isExperdSelected()" >
      <li class="divider"></li>
      <li ng-show="experdCtrl.isSaving()"><a href=""><i class="fa fa-save fa-lg"></i></a></li>
      <li ng-show="experdCtrl.isLocked()"><a href="" title="Workflow is read-only. Changes not saved!"><i class="fa fa-lock fa-lg"></i></a></li>
      <li class="divider"></li>
      <li>
        <a class="button" href=""
           ng-click="experdCtrl.isLocked() || experdCtrl.saveSnapshot();"
           ng-disabled="experdCtrl.isLocked()" >
          <i class="fa fa-floppy-o fa-lg"></i> Submit schema
        </a>
      </li>
      <li>
        <a class="button" href=""
           ng-hide="experdCtrl.snapshots().length === 0"
           ng-click="experdCtrl.isLocked() || experdCtrl.selectSnapshot();"
           ng-disabled="experdCtrl.isLocked()" >
          <i class="fa fa-file-o fa-lg"></i> Restore schema...
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a class="button" href="" ng-click="experdCtrl.ReloadWorkflow();">
          <i class="fa fa-lg"  ng-class="experdCtrl.isErrorState()?'fa-warning' : ''" title="Synchronization error!"></i>
          <i class="fa fa-lg"  ng-class="experdCtrl.isUpdating()?'fa-refresh fa-spin' : 'fa-repeat'"></i> Reload
        </a>
      </li>
      <!--li>
        <a class="button" href="" ng-click="repaint();">
          <i class="fa fa-pencil-square-o fa-lg"></i> Repaint
        </a>
      </li-->
      <li class="divider"></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li>&nbsp;</li>
      <li ng-show="experdCtrl.expdList.length > 0 && !experdCtrl.isExperdSelected()" ng-init="experdCtrl.listExperds()">
        <select class="experdSelect" name="experdId" ng-model="selection" ng-change="experdCtrl.loadExperd(selection)"
                ng-options="experd.nid as experd.title group by experd.category for experd in experdCtrl.expdList">
          <option value="">-- select ExperD --</option>
        </select>
      </li>
    </ul>
  </top-bar-section>
</top-bar>
