<form>
    <div>
        <input type="checkbox" ng-model="showAutosave"> Show auto-save snapshots in list
    </div>
    <div>
        <input type="checkbox" ng-model="enableAutosave" ng-init="enableAutosave = true"> Auto-save a snapshot of the current schema
    </div>
    <select class="snapSelectList" 
            name="snapId" 
            ng-hide="experdCtrl.snapshots().length === 0"
            ng-model="snapselect" 
            ng-options="snapshot.snap_id as (snapshot.name + ' ('+ (snapshot.timestamp * 1000 | date:'medium') + ')') for snapshot in snapshots | filter : {name: (showAutosave ? '' : '!autosave')}"
            >
        <option value="">-- select snapshot --</option>
    </select>
</form>
<button ng-disabled="!snapselect" ng-click="ok(snapselect, enableAutosave)">Restore selected snapshot</button>
<button ng-click="cancel()">Cancel</button>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>