#workflow-layout {
  position:absolute;
  top:2.8125rem; /* hardcoded: height of foundation top-bar */
  left:0px;
  right:0px;
  bottom:0px
}

#mainWorkflowContainer {
  position:absolute;
  width:100%;
  height:100%;
  background-color: #DDD;
  overflow: auto;
}

#zoompanel {
  position:absolute;
  right:20px;
  margin:10px;
  z-index:3;
}

.experdOperation {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.experdOperation button {
  position:absolute;
  display:block;
  margin:0;
  bottom:0px;
  opacity: 0.8;
  padding:0.3rem;
  font-size:0.8rem;
}

.experdOperation.ui-draggable-dragging button {
  display:none;
}

#pluginarea {
  /*
  position:absolute;
  right: 1rem;
  */
}

.kw_figure {
  border-radius: 3px;
}

.kw_port{
  border-radius: 3px;
}

.kw_figure.kw_active {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
}

.kw_active .kw_figure_image img {
  opacity: 0.7;
}

.kw_figure_widgets {
  height: 100%;
  width:100%;
}

.kw_figure_widgets #propertyeditor.results {
  position:absolute;
  display: none;
  padding: 5px;
  color: white;
  cursor:default;
  background-color: #0a6aa1;
  bottom: 0;
  opacity: 0.6;
}

.status_inprogress .kw_figure_widgets::before,
.status_finished .kw_figure_widgets::before{
  content:"";
  position:absolute;
  height: 100%;
  width:100%;
  background-size: 60%;
  background-position: center bottom;
  background-repeat:no-repeat;
  opacity: 0.6;
}

.status_inprogress .kw_figure_widgets::before{
  background-image:url(img/busy.png);
}

.status_finished .kw_figure_widgets::before{
  background-image:url(img/finished.png);
}

.ui-splitbar {
  background-color:#555;
  z-index: 1002; /* move under foundation modal popup */
}

.snapSelectList {
  width:auto;
  height:auto;
}

dd select {
  width: auto;
  padding:0;
  padding-right: 1rem;
  height:1.7rem;
}

li select {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  height:100%;
  width: auto;
  padding:0;
  padding-right: 1rem;
}

.tabscontainer {
  overflow:hidden;
  background: #666;
}

.tabscontainer .tabs dd {
  margin-left: 3px;
  margin-right: 3px;
}

.tabscontainer .tabs dd > a{
  font-size:0.8rem;
  padding: 2px 5px;
  width: 100px;
  text-align: center;
}
.tabscontainer .tabs dd.active a {
  background-color: #d73133;
  color: #FFF;
}

.tabscontainer .tabs-content {
  margin-bottom: 0;
}

.tabscontainer .tabs-content>.content.active {
  border-top: #555 1px solid;
  padding-top: 0px;
  padding-bottom: 0px;
}
#operationProperties .accordion .accordion-navigation > a, #operationProperties .accordion dd > a, #operationProperties .accordion .content {
  font-size:0.8rem;
}

#operationProperties .accordion dd>a {
  padding: 0.6rem 1rem;
}

/**
* Make accordion animate:
* changed mm-foundation template for "template/accordion/accordion-group.html"
* replaced:
*   ng-style=\"isOpen ? {display: 'block'} : {}\"
* with:
*   ng-class=\"{ active: isOpen }\"
*
* can not animate height because it is calculated automatically so we use max-height instead.
*
*/
#operationProperties .accordion .content {
  display: block;
  padding:0 0.5rem;
  max-height: 0;
  overflow-y: auto;
  transition: ease-out 0.2s all;
}

#operationProperties .accordion  .active .content {
  display: block;
  padding:0.5rem;
  background: #FFFFFF;
  max-height: 80vh;
  transition: ease-in 0.2s max-height;
}

.ui-layout-row > .ui-splitbar > a {
  position:relative;
  background-color: #555;
  height:20px;
  padding:3px;
  top: 9px;
  width: 30px;
}

.ui-layout-row > .ui-splitbar > a:first-child{
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ui-layout-row > .ui-splitbar > a:last-child{
  border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}


.ui-layout-row > .ui-splitbar,
.ui-layout-column > .ui-splitbar {
  overflow:visible;
}

.ui-layout-column > .ui-splitbar > a {
  position:relative;
  display:inline-block;
  background-color: #555;
  width:20px;
  padding:3px;
  left:-18px;
  text-align: center;
  height: 30px;
  padding-top: 9px;
}

.ui-layout-column > .ui-splitbar > a:hover, .ui-layout-row > .ui-splitbar > a:hover {
  background-color: #666;
}

.ui-layout-column > .ui-splitbar > a:first-child{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: none;
}

.ui-layout-column > .ui-splitbar > a:last-child{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}